P5 E-learning/force-app/main/default/flows/Buscador_por_Skill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asigno_Nombres</name>
        <label>Asigno Nombres</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NombreModulo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopEncontrados.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEncontrados</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ScreenSkill</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skills__c</picklistField>
        <picklistObject>Modulo__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Buscador por Skill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buscador por Skill</label>
    <loops>
        <name>LoopEncontrados</name>
        <label>LoopEncontrados</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Buscador_de_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigno_Nombres</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ResultadosSkill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscador_de_records</name>
        <label>Busco records segun seleccion</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopEncontrados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skills__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Modulo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Busqueda_modulos_por_Skill</name>
        <label>Busqueda modulos por Skill</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Buscador_de_records</targetReference>
        </connector>
        <fields>
            <name>Skill</name>
            <choiceReferences>ScreenSkill</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skill</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultadosSkill</name>
        <label>ResultadosSkill</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Resultados</name>
            <fieldText>&lt;p&gt;{!NombreModulo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busqueda_modulos_por_Skill</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NombreModulo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
