P5 E-learning/force-app/main/default/flows/Update_de_status_y_mail_felicitaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>mailfelicitaciones</name>
        <label>mailfelicitaciones</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MaildeFeliciaciones</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectMailFelicitaciones</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Actualiza a &quot;completo&quot; el estado del modulo que alcanzo el 100% y luego dispara el mail de felicitaciones</description>
    <environments>Default</environments>
    <interviewLabel>Update de status y mail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update de status y mail felicitaciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_de_Status</name>
        <label>Update de Status</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>mailfelicitaciones</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_de_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Progreso__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>ModuloUser__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>MaildeFeliciaciones</description>
        <name>MaildeFeliciaciones</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Felicidades {!$Record.User__r.FirstName}  has completado el modulo {!$Record.Name} y has obtenido {!$Record.Puntos__c} puntos!!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectMailFelicitaciones</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Novedades sobre tu progreso en P5 E-learning&lt;/p&gt;</text>
    </textTemplates>
</Flow>
